@charset "utf-8";


main h2{
	margin:3rem;
}

main iframe{
	margin:auto;
	display:block;
	padding:2rem;
}

main p{	
	text-align:center;
	margin-bottom:1rem;
	font-size:1.7rem;
}

main form label, main form input{
	margin-top:2rem;
	margin-left:10rem;
}

main form label{
	display:inline-block;
	width:20%;
	color:#00deff;
}

main form input{
	width:50%;
}

main form input[type=submit]{
	width:20%;
	display:block;
	margin:auto;
	margin-top:3rem;
}

main form#contact input[type=text]{
	padding-bottom:10rem;
}

main form#contact div#aligne label{
	margin-left:0;
	width:10%;
}

main form#contact div#aligne input{
	width:1%;
}

main form#contact div#aligne {
	margin-left:10rem;
}


@media (max-width: 1200px){
	main form input{
		width:20%;
	}
	
	main form label{
		width:20%;
	}
}