@charset "utf-8";

nav a{
	text-decoration: none;
	border-bottom : solid white 2px;
	font-size: 20pt;
	margin-left: 3%;
}



nav {
	margin : 2rem 0 2rem 0;
	display : flex;
	justify-content : center;
}